@font-face {
   font-family: "proxima-semi-bold";
   src: url(../public/fonts/Proxima\ Nova\ Semibold.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE Layer Custom Designs */
@layer base {
   html,
   body {
      font-family: "proxima-semi-bold", system-ui, sans-serif;
   }
}

/* Components  Layer Custom Design*/
@layer components {
   /* Common Components */
   .title {
      @apply text-4xl text-center p-2 font-semibold;
   }

   .f_link {
      @apply text-lg p-1;
   }

   .badge {
      @apply py-2 px-3 transition-all duration-300 hover:text-red-600 hover:border-b-2 hover:border-red-600;
   }

   .page {
      @apply border-black px-4 py-1 cursor-pointer;
   }
   /* ... */
}

/* CUSTOM classes & DESIGNS */
/* Navbar Design */
.nav_content {
   @apply flex justify-between items-center py-4 text-lg font-semibold;
}

.nav_link {
   @apply m-2 uppercase transition-all duration-300 hover:text-red-700 hover:border-b-2 hover:border-red-700;
}

.f_links {
   @apply flex flex-col space-y-2 items-center lg:flex-row lg:space-x-2 lg:space-y-0 xl:space-x-4 2xl:space-x-5;
}

/* Category Section */

.category_content_layout {
   @apply grid grid-cols-1 gap-y-4 md:grid-cols-2 md:gap-x-4 md:gap-y-3 xl:grid-cols-3;
}

/* Featured Section */
.featured_content_layout {
   @apply mt-8 grid grid-cols-1 gap-y-10 md:grid-cols-2 md:gap-x-8 lg:grid-cols-3 xl:grid-cols-4;
}
